# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
*.log

# NuGet
*.nupkg
packages/
*.snupkg

# Others
*.cache
bin/
obj/
*.dll
*.exe
*.pdb
*.FileListAbsolute.txt